@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Open+Sans&family=Roboto+Mono&family=Source+Code+Pro&family=Work+Sans:wght@100&display=swap');

svg {
    background-color: #FFFFFF;
}

text.axes {
    font-family: 'Source Code Pro', monospace;
    fill: #FFFFF0;
}

text.descriptions {
    font-family: 'Open Sans', monospace;
    fill: #FFFFF0;
}

line.grid {
    stroke: #EEEEEE;
    stroke-width: 1; 
    stroke-linecap: square;
}

circle.grid-center {
    fill: #FFFFF0;
    stroke: none;
}

rect.t {
    fill: #AF5FAF;
    stroke: none;
}

rect.j {
    fill: #5F5FAF;
    stroke: none;
}

rect.z {
    fill: #D75F5F;
    stroke: none;
}

rect.o {
    fill: #D7AF5F;
    stroke: none;
}

rect.s {
    fill: #AFD75F;
    stroke: none;
}

rect.l {
    fill: #D7875F;
    stroke: none;
}

rect.i {
    fill: #00AF87;
    stroke: none;
}